

.container .row .well
{
  margin-top : 100px;
  background-color: #3B3C36;
  border-radius: 20px;
  border : none;
}
.logo
{
  font-size : 50px;
  font-family : Audiowide;
  color : #ffffff ;
}
p.logo
{
  font-size : 20px;
}

.pg1
{
  background :url('https://drive.google.com/open?id=0B02MQV957EoMN19UYnlYTWN6WkU');
  height : 800px;
  background-color: #ff5722;
  border-radius: 20px;
}

.pg2
{
  padding : 50px;
  margin : 50px;
  background : #3B3C36;
  margin-top : 20px;
  height : 400px;
}

.thumbnail
{
  padding : 0px 0px 15px0px;
  border : none;
  border-radius : 0px;
  margin-top : 20px;
}
.thumbnail img {
  width : 100%;
  height : 100%;
  margin-bottom : 10px;
}

.btn
{
  font-size : 2em;
  margin : 20px;
}

.aboutText p
{
  font-family : Aldrich;
  font-size: 2em;
  overflow: hidden;
  color:#ffffff ;
}

.aboutText img
{
  border-radius: 50%;
  border-style: solid;
  height: 20%;
  width : 15%;
  float : right;
  overflow: hidden;
  border-color:  #ffffff  ;
  border-width: 5px;
}

body
{
  background-color:   #000000 ;
}
